@charset "utf-8";

/*視窗背景色設定*/
body{
    background-color: rgba(168, 179, 204, 0.833);
}

/*連結顏色設定*/
a{
    color: rgb(180, 48, 55);
}

/*頁首,導覽,頁尾的共通設定*/


/*導覽樣式設定*/


/*頁面標題設定*/
h1{
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 5px dashed #3f55a2;
    background-color: rgb(121, 146, 191);
    color: rgba(255, 255, 255, 0.982);
    font-style: italic;
    font-size: 300%;
    text-align: center;
    line-height: 1;
}

/*次標題設定*/
h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 2px dotted rgb(102, 95, 189);
    border-left: 10px solid rgb(71, 86, 147) ;
    color: rgb(56, 86, 112);
}

/*小標題設定*/


/*內容區塊邊框設定*/


/*「更多介紹」連結設定*/


/*連結圖示設定*/


/*區塊間分隔*/


/*文繞圖設定*/


/*圓形圖片設定*/


